<h1><%= params[:team][:name] %></h1>

  Team Motto: <%= params[:team][:motto] %><br>
  
  <h2>Hero Name: <%= params[:member1_name] %></h2><br>
  Hero Power: <%= params[:member1_power] %><br>
  Hero Biography: <%= params[:member1_bio] %><br>
  
  <h2>Hero Name: <%= params[:member2_name] %></h2><br>
  Hero Power: <%= params[:member2_power] %><br>
  Hero Biography: <%= params[:member2_bio] %><br>
  
  <h2>Hero Name: <%= params[:member3_name] %></h2><br>
  Hero Power: <%= params[:member3_power] %><br>
  Hero Biography: <%= params[:member3_bio] %><br>





